<center>
	<h1> Add Product </h1>

	<form action="/saveproduct/" method="GET">
		<div>
			product name:<input type="text" name="pname">
		</div>
		<div>
			product brand:<input type="text" name="pbrand">
		</div>
		<div>
			product price:<input type="text" name="pprice">
		</div>
		<div>
			product stock:<input type="text" name="pstock">
		</div>
		<div>
			<input type="submit" value="submit">
		</div>
	</form>
		
	<a href='/'> home page </a><br>
	<a href='/display/'> display product </a>
</center>